@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PoppinsLight";
  src: url("/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("/fonts/Poppins-SemiBold.ttf");
}

@layer base {
  body {
    @apply text-sm text-[#212121] bg-[#f0f0f0] font-poppinsLight;
  }
}
